@font-face {
	/* Added Font for Heading 1 - Title of the web page. */
	font-family:Z003;
	src:url(Z003-MediumItalic.ttf);
}

body {
	/* font-size: 22px; */
	background-color:#eadbcb;
	background-image:url('images/spiral.svg');
}
header * {
	/* Removes space between the logo, and h1, so it looks seamless.*/
	padding:0px;
	margin:0px;
}

h1 {
	/*Properties for the heading at the top of every web page.*/
	text-align:center;
	font-family:Z003;
	font-size:38px;
	background-color:#cf142b;
	color:#ffffff;
}
main {
	padding:5px;
	background-color:#ffffff;
	max-width: 700px; 
	margin:auto;

}
a {
	/* Properties of every hyperlink found on the website. */
	color: #cf142b;
}

nav {
	text-align:center;
}

img.logo {
	height:auto;
	width:650px;
}
img.button {
	margin-left:15px;
	width:220px;
}
img.language {
	/* Properties for the language flags, at the start of every link. */
	width:20px;
}

span.comment {
	/* Formating for comments in brackets, added between text in the articles.*/
	color: grey;
	font-style: italic;
}
